.left{float:left}
div.container{border: 1px solid black;}
div.containerDiv{
  width:100%;
  margin: 0 auto;
}


div.header h4{ padding:10px 10px;margin:5px 5px;}

div.painterHolder{ width: 500px;padding: 5px;}

div.paintTool{margin: 10px 10px 10px 10px;}


canvas#input{    float: left;
    position: absolute;
    top: 200px;
    bottom: 10px;}

div.outputDivClass p{font-size: 20px;}